<div id="photo-{{id}}" class="item">
    <img class="images" src="../../{{thumbnail}}" id="{{id}}" alt="Missing Image">
    <div class="cardBody">
        <p class="cardTitle">{{title}}</p>
        <p class="cardText">{{description}}</p>
        <a class="postButton" href="/post/{{id}}" class="anchorButtons">Post Details</a>
    </div>
</div>